body{
margin:0;
font-family:Georgia, serif;
background:#f4f1ec;
text-align:center;
}

header{
background:#e8e2d8;
padding:30px;
}

header h1{
margin:0;
font-weight:500;
}

header p{
color:#666;
}

.card{
position:relative;
width:80%;
margin:40px auto;
}

.card img{
width:100%;
height:480px;
object-fit:cover;
display:block;
}


.card::after{
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.35);
}


.overlay{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
color:white;
  z-index:2;
}

.overlay h2{
margin:10px 0;
}

.overlay h3{
font-style:italic;
}

.card img{
transition:transform 0.6s ease;
}

.card:hover img{
transform:scale(1.05);
}


button{
margin-top:10px;
padding:10px 35px;
background:#3b342e;
color:white;
border:none;
cursor:pointer;
}
